.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

/* рипиты */

.custom-underline {
  border-bottom: 1px solid #000;
  text-decoration: none;
}


.white_textcolor {
  color: #fff;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}


/* основные */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1.16;
}

.header_links-list {
  display: flex;
}

.header__links-list-item {
  margin-left: 32px;
  list-style: circle;
}

.header__links-list-item:last-child {
  margin-left: 35px;
}

.header__links-list-item_no-circle {
  margin-left: 0;
  list-style: none;
}

.header__link_active {
  border: none;
}

.header__logo {
  display: block;
  min-width: 136px;
  font-size: 0;
}

.address {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  font-style: normal;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center bottom;
  background-size: cover;
  padding: 50px;
  margin-bottom: 180px;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;

  background: #000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  display: grid;
  gap: 20px;
  padding-top: 115px;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.letter-space {
  letter-spacing: 0.3em;
}

.no-letter-space {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  margin-top: 106px;а
}

.cover__description-text {
  padding-top: 4px;

  font-size: 22px;
  font-weight: 400;
  line-height: 1.27;
  word-spacing: 18px;
  align-self: center;
}

.cover__description-text span:first-child {
  word-spacing: 20px;
}

.cover__description-text span:last-child {
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  padding: 0;
  border: 1px solid currentColor;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.lots {
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center top;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;

  margin-left: 40px;
}

.about {
  margin-top: 118px;
  padding: 35px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 250px auto;
  gap: 0 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  grid-row: 1/-1;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  max-width: 148px;
}

.about__title {
  grid-row: 1/2;
  align-self: center;

  text-transform: uppercase;
  line-height: 0.8;
}

.about__text {
  grid-row: 2/3;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 144px;
  padding: 0 50px 80px 50px;
    font-size: 18px;
}

.footer__address {
  max-width: 265px;
}

.footer__menu-list {
  list-style: none;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;

  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}