/* место для вашего кода */
.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-top: 92px;
    padding-left: 24px
    padding-bottom:92px;
    padding-right: 24px;
}

.header_menu{
    display: flex;
    justify-self:center;
}

.menu_links{
    display:flex;
    gap 32px;
    list-style-type:circle;
    padding-right:7px
}

.link_list{
font-size: 18px;
font-weight: 400;
text-underline-offset: 4px;
}

.main_link_marker{
list-style-type: none;
}

.link_main{
    text-decoration: none;
}