/* место для вашего кода */
.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header{
    min-height: 293px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
    list-style: circle;
}

.header__links-list-item {
    text-transform: lowercase;
}

.header__links-list-item_no-circle {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    justify-self: end;
    margin-right: 50px;
    max-width: 235px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    font-style: normal;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    z-index: -2;
}

.cover__title {
    position: relative;
    color: white;
    letter-spacing: 0.3em;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding-top: 165px;
}

.aligned-text {
    text-align: start;
    padding-left: 50px;
}

.aligned-text_center {
    padding-left: 0px;
    text-align: center;
}

.aligned-text_right {
    padding-left: 0px;
    padding-right: 40px;
    text-align: end;
}

.cover__description {
    position: relative;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 123px;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    justify-content: center;
    word-spacing: 19px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: white;
}

.bet-button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    letter-spacing: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 32px;
    align-items: right;
}

.lots {
    min-height: 723px;
    width: 1052;
    padding-top: 180px;
    padding-left: 24px;
    padding-right: 24px;
}

.lots__heading {
    padding-left: 40px;
    width: 121px;
    height: 47px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-top: 28px;
    list-style: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 596px;
    justify-content: space-between;
    z-index: -2;
}

.card__title {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.2em;
    font-size: 22px;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: inline-block;
    font-weight: 400;
    padding-left: 40px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
}

.about {
    min-height: 595px;
    width: 1052px;
    padding-top: 120px;
    display: grid;
    align-items: start;
    column-gap: 72px;
    grid-template-columns: 240px 1fr;
}

.about__logo {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 100%;
    margin-top: 35px;
}

.about__logo-image {
    width: 142px;
    height: 100%;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    padding-top: 136px;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    padding-top: 100px;
}

.about__text p + p {
    padding-top: 30px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    min-height: 180px;
    margin-top: 180px;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

.address {
    justify-self: start;
    max-width: 235px;
    line-height: 24.3px;
    font-style: normal;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer__social-list {
    list-style: none;
    display: flex;
    width: 240px;
    height: 48px;
    justify-content: space-between;
    justify-self: end;
}

.footer__social-image {
    width: 48px;
    height: 48px;
}